body {
  font-family: "Public Sans", Sans-serif;
  font-size: $font-size;
  font-weight: 400;
  line-height: 1.5;
}

// Dark on light
body,
.off-canvas-wrapper,
.title-bar,
.navbar,
.topbar__dropmenu .is-dropdown-submenu {
  background-color: $background;
  color: $text-color;
}

.logo-wrapper span,
.topbar__dropmenu > ul > li > a,
.topbar__user__login a,
.topbar__admin__link a,
.main-nav__link a {
  color: $text-color;
  font-weight: bold;
  @include link-hover;
}

.topbar__dropmenu > ul > li > a::after {
  border-top-color: $text-color !important;
}

.topbar__dropmenu .is-dropdown-submenu {
  border-radius: $border-radius;
  box-shadow: none;
  border: none;
  background: $beige-darker;

  li {
    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:not(:last-child) {
      border-bottom: none;
    }

    a {
      @include link;
    }
  }
}

.topbar__notifications,
.topbar__conversations {
  .icon {
    fill: $link-color;
  }

  &:hover,
  &.hover,
  &:focus,
  &.focus {
    text-decoration: none;

    .icon {
      fill: $link-color-hover;
    }
  }
}

.topbar__search input {
  background: $beige-darker;

  .topbar__search:not(:focus-within) button {
    background: $text-color;
  }

  &::placeholder {
    color: $text-color;
  }
}

.logo-wrapper {
  margin-left: -1rem;

  img {
    max-height: 100px;
  }
}

// Light on dark
.tabs,
.main-footer,
.mini-footer {
  background-color: $text-color;
  color: $background;

  a {
    @include link;
  }

  .decidim-logo img {
    filter: brightness(0.5);
  }
}

.home-section:nth-of-type(2n + 1) {
  background: $text-color;
  color: $background;

  .button.hollow {
    @include button-hollow($background, $link-color-hover);
  }
}

a {
  @include link;
}

.off-canvas .close-button {
  color: $text-color;
}

hr,
.reveal__header {
  border-bottom-color: $text-color;
}

.reveal {
  background-color: $beige-darker;
  border-radius: $border-radius;
  border: none;

  .reveal__footer {
    border-top: none;
  }
}

.scope-picker.picker-header li:last-child a {
  color: $text-color;
}
.scope-picker.picker-content .picker-scrollable-content a {
  border: none;
}

.mini-title {
  color: $text-color;
  text-transform: none;
}

.section-heading {
  font-size: $font-size-medium;
  text-transform: none;

  &::before {
    content: "‣";
    margin-right: 1rem;
    border: none;
    background: none;
    color: currentColor;
  }
}

.main-container,
.tabs-content {
  background: $beige-darker;
  border: none;
}

.tabs,
.side-panel {
  border: none;
  background: $text-color;
}

.side-panel__tabs .tabs-title {
  border-bottom-color: $background;

  & > [role="tab"],
  & > a {
    color: $background;

    &:hover,
    &.hover,
    &:focus,
    &.focus {
      background: none;
      color: $link-color-hover;
    }
  }

  &.is-active > [role="tab"],
  &.is-active > a {
    color: $background;
  }
}

.tabs-content {
  &.vertical {
    border: none;
  }
}

.home-pam__title {
  color: $beige-darker;
}

.home-pam__title,
.space-stats__title {
  color: $primary;
}

.home-pam__highlight .home-pam__data {
  border: none;
}

.home-pam__lowlight {
  border-top: 1px solid $text-color;
}

.space-stats__data::after {
  border-color: $text-color;
}

.register__separator {
  &::before {
    background-color: $text-color;
  }

  .register__separator__text {
    background-color: $beige-darker;
  }
}

.tos-text {
  background: white;
  border: none;
}

.tags a {
  border-color: $link-color;

  &:hover {
    border-color: $link-color-hover;
  }
}

.card__text--status {
  background: white;
  margin-right: 4px;
  padding: 2px;
}

.definition-data__item {
  border-color: $text-color;
}

.card--list__data {
  background: $beige-darker;
}

.card--list__data__icon .icon {
  fill: $link-color;

  &:hover {
    fill: $link-color-hover;
  }
}

.wrapper--inner {
  background: $beige-darker;
}

.card--list .card--list__item:not(:last-child),
.card--list :not(:last-child) .card--list__item {
  border-color: $text-color;
}

.chart-tooltip,
.conference-registration,
.conference-speaker .speaker-bio,
.add-message,
.add-comment,
.comment-thread {
  background: $beige;
  border: none;
}

.filters__section,
.filters__section--general {
  border-color: $text-color;
}

::placeholder {
  color: $text-color;
}

.dropdown.menu > li > a {
  background: $beige;
  padding: 2px;
}

.data-picker.picker-single .picker-values div a,
.data-picker .picker-prompt a,
.is-dropdown-submenu,
select,
.inline-filters button[data-toggle] {
  background: $beige;
  border-color: $text-color;
}

.scope-picker.picker-content .picker-scrollable-content a:hover {
  background: $link-color-hover;
  color: $text-color;
}
